**/*.dll
**/*.exe
build/*
bin-*/*
distrib/build_*/*
**.bak
**.orig
screenshot.bmp
*.pyc
Thumbs.db
OpenGL-tutorial_v*
**.mtl
.DS_Store
*.vcxproj.user
*.vcxproj
*.vcxproj.filters
CMakeCache.txt
**/CMakeFiles/*
**/cmake_install.cmake
*.sln
**/bin/
*.VC.db
*.VC.opendb
x64/
**/*.dir/
.vs
**/*.cmd
**/cmake_uninstall.cmake
external/glfw-3.1.2/docs/Doxyfile
external/glfw-3.1.2/src/glfw3.pc
external/glfw-3.1.2/src/glfw3Config.cmake
external/glfw-3.1.2/src/glfw3ConfigVersion.cmake
external/glfw-3.1.2/src/glfw_config.h